<h1>Projects</h1>

<div ng-controller="ProjectCtrl">
  <form ng-submit="addProject()">
    <input type="text" ng-model="newProject.name">
    <input type="submit" value="Add">
  </form>

  <ul>
    <li ng-repeat="project in projects">
      {{project.name}}
    </li>
  </ul>
</div>