.row {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #dddddd;
  margin-left: 0px;
  margin-right: 0px;
}
.row:nth-child(odd) {background: #FFF}
.row:nth-child(even) {background: #f9f9f9}
.row.header {
  font-weight: bold;
  border-bottom: 1px solid #dddddd;
  border-top: 0px 
}
.head {
  margin-bottom: 30px;
  h1 {
    float: left;
  }
  .actions {
    float: right;
    margin-top: 22px;
    .btn {
      margin-left: 10px;
    }
  }
}
.head:after, .customer:after {
  clear: both;  
  display: block;
  height: 0;
  content: '';
}

.invoice {
  .date {
    font-size: 12px
  }
  .infos {
    float: left;
    width: 50%;
  }
  .customer {
    float: right;
    width: 50%;
  }
  .total {
    float: right;
    width: 50%;
    margin-top: 30px;
  }
  .body {
    border-bottom: 1px solid #ddd;
  }
  .actions {
    a.btn {
      margin-right: 10px;
      margin-top: 10px;
    }
  }
}

// hide action when not in large mode
@media (max-width: 1200px) {
  .row.header .action {
    display: none;
  }
}

@media (max-width: 768px) { 
  .row.header {
    .action, .line-unit, .line-unit-price, .line-total, .line-quantity {
      display: none;
    }
  }
  .invoice {
    .infos {
      width: 100%;
    }
    .customer {
      float: left;
      width: 100%;
    }
    label.customer-address2 {
      display: none;
    }
    .total {
      width: 100%;
    }
  }
}
